ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container-for-projects {
    max-width: 1300px;
    margin: 0 auto;
}

.main-proj{
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.main-proj:hover{
    color: #0a58ca;
}
.container {
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    transition: 5s ease;
    margin: 0 30px 0 0
}

.container:active {
    /*transform: rotate(1080deg);*/
    animation-name: flex-shake;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container div {
    transition: .3s ease;
    position: relative;
}

.container:hover div:nth-child(2) {
    transform: translateX(-200px);
}

.container:hover div:last-child {
    transform: scale(0.3) translate(-1300px, 200px);
}

.container div:first-child {
    z-index: 3;
}

.container div:nth-child(2) {
    z-index: 2;
}

.container div:nth-child(2)::before {
    content: "Ты кто?";
    display: block;
    position: absolute;
    top: 50px;
    left: 100px;
    color: green;
    font-size: 32px;
}

.container div:last-child {
    z-index: 1;
    opacity: 0;
    transform: scale(0.4);
}

.container div:last-child::before {
    content: "Принцесса";
    display: block;
    position: absolute;
    top: -20px;
    left: 80px;
    color: green;
    font-size: 32px;
}

.container:active div:last-child {
    opacity: 1;
    transform: scale(1) translate(-450px, 0);
}

.container:active div:nth-child(2) {
    opacity: 0;
}

.container:focus div:last-child{
    transform: scale(1) translate(-450px, 0) rotate(180deg);
    opacity: 1;
}

audio{
    visibility: hidden;
    position: absolute;
}

@keyframes flex-shake{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

/*kot*/
body{
    height: 100vh;
}
.container_cat{
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,.05);
    position: relative;
}
.cat_body{
    position: relative;
    background: radial-gradient(circle at 40% 32%, white 1px, rgb(87, 87, 87) 75%);
    clip-path: ellipse(80px 60px at 90px 100px);
    width: 170px;
    height: 170px;
}
.leg{
    background: grey;
}
.leg_2{
    clip-path: polygon(13px 0px, 60px 0px, 22px 42px);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 139px;
    left: 19px;
}
.leg_4{
    clip-path: polygon(15px 0px, 56px 0px, 55px 40px);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 139px;
    left: 84px;
}
.leg_1{
    clip-path: polygon(20px 0px, 53px 0px, 45px 44px);
    background: rgb(77, 77, 77);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 20px;
}
.leg_3{
    clip-path: polygon(15px 0px, 47px 0px, 45px 35px);
    background: rgb(77, 77, 77);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 139px;
    left: 103px;
}
.cat_face{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: grey;
    clip-path: circle(39px at center);
    top: 30px;
    left: 110px;
}
.tail{
    position: absolute;
    width: 23px;
    height: 90px;
    background: linear-gradient(white, grey);
    border: 1px solid #acacac;
    border-radius: 50%;
    top: 16px;
    left: 0px;
    transform: rotate(355deg);
}
.ear{
    position: absolute;
    width: 25px;
    height: 25px;
    background: radial-gradient(white 1px, rgb(87, 87, 87) 50%);
    clip-path: circle(11px at center);
}
.ear1{
    top: 25px;
    left: 109px;
}
.ear2{
    top: 25px;
    left: 167px;
}
.eye{
    position: absolute;
    background-color: #000;
    width: 25px;
    height: 25px;
    clip-path: ellipse(9px 7px at 15px 24px);
}
.eye1{
    left: 19px;
    top: 6px;
}
.eye2{
    left: 45px;
    top: 6px;
}
.nose{
    clip-path: polygon(0px 0px, 10px 0px, 5px 13px);
    background-color: #000;
    width: 10px;
    height: 15px;
    position: absolute;
    top: 34px;
    left: 42px;
}
.mouth{
    position: absolute;
    width: 9px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
}
.mouth1{
    top: 46px;
    left: 37px;
    transform: rotate(21deg);
}
.mouth2{
    top: 46px;
    left: 46px;
    transform: rotate(333deg);
}

/*Triangle styles*/

.proj-container{
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.triangle-container input{
    display: block;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 230px;
    padding: 5px 0;
    padding-left: 5px;
}

.triangle-container {
    padding-bottom: 50px;
}


/* Menu styles */

.main-menu-task-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.main-menu-task-container div {
    padding: 10px;
}

.main-menu-task-container .aside-bar {
    background-color: rgb(235, 235, 235);
    min-height: 300px;
}

.main-menu-task-container .aside-bar ul li{
    background-color: rgb(235, 235, 235);
}

.main-menu-task-container .aside-bar ul li{
    background-color: rgb(196, 196, 196);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.main-menu-task-container .aside-bar ul li:hover {
    opacity: 0.6;
}

.main-menu-task-container .menu-input-cont {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}

.main-menu-task-container .menu-input-cont input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgb(196, 196, 196);
    outline: none;
    text-indent: 10px;
    padding: 0;
    margin-right: 10px;
}

.main-menu-task-container .menu-input-cont button {
    border: none;
    background-color: rgb(170, 170, 170);
    height: 35px;
    padding: 0 35px;
    transition: .2s ease;
    cursor: pointer;
}

.main-menu-task-container .menu-input-cont button:hover {
    opacity: 0.8;
}

.main-menu-task-container .menu-input-cont input:focus-visible {
    border: none;
}

.top-header-menu {
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 30px 0;
    margin-bottom: 20px;
}

.top-header-menu ul{
    padding: 0;
    margin: 0;
}

.top-header-menu ul li {
    display: inline-block;
    margin-right: 5px;
}
